<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>StudentInsert</servlet-name>
        <servlet-class>com.yintern.controller.StudentInsert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertIntern</servlet-name>
        <servlet-class>com.yintern.controller.InsertIntern</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mentorInsert</servlet-name>
        <servlet-class>com.yintern.controller.mentorInsert</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentInsert</servlet-name>
        <url-pattern>/StudentInsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertIntern</servlet-name>
        <url-pattern>/InsertIntern</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mentorInsert</servlet-name>
        <url-pattern>/mentorInsert</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
